@mixin button($padding, $darkColor, $lightColor, $fontSize, $fontWeight, $textTransform: none, $textColor:$white){
	padding:$padding;
	background-color:$lightColor;
	display:block;
	text-align:center;
	text-decoration:none;
	color:$textColor;
	font-size:$fontSize;
	font-weight:$fontWeight;
	border-radius:5px;
	text-transform:$textTransform;
	overflow:hidden;
	border-bottom:3px solid $darkColor;
}