@mixin button($padding, $darkColor, $lightColor, $fontSize, $fontWeight, $textTransform: none, $textColor:$white){
	background-color:$darkColor;
	display:block;
	text-align:center;
	text-decoration:none;
	color:$textColor;
	font-size:$fontSize;
	font-weight:$fontWeight;
	border-radius:5px;
	text-transform:$textTransform;
	overflow:hidden;

	& span{
		padding: $padding;
		background-color:$lightColor;
		display:block;
		border-radius:5px;
		transform:translateY(-3px);
		overflow:hidden;
	}
}