/**
 * Vars
 **/

// Font
$primaryFont : 'Open Sans';
$fontSize : 14px;

// Color
$lightGreen : #76c7c0;
$green : #62a29e;
$darkGreen : #528b86;
$lightRed : #e5655d;
$red : #e2534b;
$white : #ffffff;
$darkGray : #7f8c8c;
$gray : #b0b8b9;
$lightGray : #b0b8b9;
$black :#000000;
$backgroundColor: #f3f3f3;
$cardBackgroundColor:  #f8f8f8;

$introBackColor: #ececec;
$introTextColor: #777777;
